function (request, state, logger) {
    logger.info('Show Me Debugging');
			
	return {
			headers: {
				'Content-Type': 'text/html',
				'Connection': 'Keep-Alive'
			},
			body: 
"<!DOCTYPE html><html><body><h1>SVEN AUTH0 STUB - showme test page</h1></body></html>"
			
																			                                  
				
		};	
}